@font-face {
  font-family: gilroy;
  src: url(./Radomir\ Tinkov\ -\ Gilroy-Light.woff2);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "gilroy";
}

html,
body {
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
}
nav {
  display: flex;
  justify-content: flex-end;
  height: 45px;
  align-items: center;
  width: 100%;
  padding: 0 30px;
  gap: 20px;
}
nav h5 {
  /* font-size: 15px; */
  font-size: 1.1vw;
  font-weight: 600;
}
nav i {
  display: grid;
  place-items: center;
  background-color: rgb(34, 34, 34);
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-weight: 500;
  /* font-size: 20px; */
  font-size: 1.3vw;
}
#center {
  padding: 20px 80px;
}
#center h1 {
  /* font-size: 45px; */
  font-size: 3.3vw;
  line-height: 50px;
  font-weight: 500;
}
#centerin p {
  font-size: 1.2vw;
  line-height: 1.8vw;
  font-weight: 600;
}
#centerin {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
#right {
  width: 20%;
}
.elem {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 15px 0;
  border-top: 1px solid black;
}
.elem a {
  color: black;
  font-size: 1.2vw;
  font-weight: 600;
  text-decoration: none;
}
.elem:hover a {
  text-decoration: underline;
}
.elem i {
  /* font-size: 1.1vw; */
  opacity: 0;
}
.elem:hover i {
  opacity: 1;
  font-size: 1.1vw;
}

#bot {
  height: 30.5%;
  background: url("https://images.unsplash.com/photo-1593880223030-1f126e6c2c9a?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  width: 100%;
  background-size: cover;
  background-position: 0 32%;
}
@media (max-width: 500px) {
  nav {
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
    width: 100%;
    padding: 0 3.5vw;
    gap: 20px;
  }
  nav h5 {
    display: none;
    font-size: 3.5vw;
    font-weight: 00;
  }
  nav i {
    padding: 4px;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-weight: 400;
    font-size: 3.8vw;
  }
  #center {
    padding: 5px 20px;
    width: 100%;
    height: calc(75% - 50px);
  }
  #center h1 {
    /* font-family: "gilroy"; */
    font-size: 10vw;
    line-height: 13vw;
    font-weight: 500;
  }
  #centerin p {
    width: 100%;
    font-size: 4.3vw;
    font-weight: 800;
    line-height: 5.4vw;
  }
  #centerin {
    margin-top: 45px;
    margin-bottom: 20px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: space-between;
  }
  .elem {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 10px 0;
    border-top: 1px solid black;
  }
  #right {
    width: 100%;
  }
  .elem a {
    color: black;
    font-size: 4.2vw;
    font-weight: 600;
    text-decoration: none;
  }
  .elem i {
    opacity: 1;
    font-size: 15px;
  }
  #bot {
    height:25%;
    background: url("https://images.unsplash.com/photo-1593880223030-1f126e6c2c9a?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    width: 100%;
    background-size: cover;
    background-position: 0 15%;
  }
}
